<!-- <div class="container">
<button class="btn btn-primary" (click)="Add()">Ajouter</button>
<input class="form-control" type="text" placeholder="Readonly input here…" readonly value="{{i}}">

<!-- 

this is a table to display our output -->
<!-- <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Binary</th>
      <th scope="col">Octal</th>
      <th scope="col">Hexadecimal</th>
    </tr>
  </thead>
  <tbody>

    <tr>
      
      <td>{{i.toString(2)}}</td>
      <td>{{i.toString(8)}}</td>
      <td>{{i.toString(16)}}</td>

    </tr>

  
  </tbody>
</table>
<label>decimal</label>
<input ngModel name="firstname" #firstaName="ngModel" (change)="Convert_hexa(firstaName) " placeholder="decimal" value="{{convert_decimal(bin) && convert_bin(bin)}} ">
<label>hexa</label>
<input value="{{Convert_hexa(firstaName)}}" placeholder="HEXA" ngModel name="hexa" #hexa="ngModel" (change)="convert_decimal(hexa)">

<input value="{{convert_bin(firstaName)}}"  ngModel name="bin" #bin="ngModel" (change)="bin_decimal(bin)">





</div> -->
 
<app-simulateur-credit></app-simulateur-credit>